{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
  {{ product.description|truncatewords:155}}
{% endblock %}
{% block title %}
  {% if category %}
    {{product.name}}<br>
    {{product.price}}<br>
  {% endif %}
{% endblock %}
{% block content %}
<div class="row my_prod_row_class">
  <div class="mx-auto">
    <p><a href="{% url 'ecommerceapp:allproduct' %}">Home</a>| <a href="{{product.category.get_url}}">{{product.category}}</a>|{{product.name}} </p>
  </div>
  <div class="container">
    <div class="row">
      <div class=" col-12 col-md-6 col-sm-12 col-lg-6 text-center">
        <div >
          <img class="my_prod_img" src="{{product.image.url}}"  alt="{{product.name}}" >
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div>
          <h1 class="my_prod_title">{{product.name}}</h1>
          <p>{{product.price}}</p>
          <h5 class="my_title">Product description:</h5>
          <div><p class="text-justify my_prod_text">{{product.description}}</p></div>
          {% if product.Stock <= 0 %}
            <p class="text-justify my_prod_text"><b>Out of Stock</b></p>
          {% else %}
            <a class=" btn btn-secondary" href="{% url 'cart:add_cart' product.id %}">Add to Cart</a>
            <br>
            <br>
            <br>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
</div>





{% endblock %}